---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  <div class="masthead-container">
    <img class="masthead-profile-pic" src="/assets/profile.jpg" alt="Shai Bianchi">
    <div class="masthead-content">
      <h1 class="masthead-title">Shai Bianchi</h1>
      <div class="masthead-content-title">
        {{ site.description }}.
      </div>
      <div class="masthead-content-text">
        A blog for tech, my work and other interests.
      </div>
    </div>
  </div>

  <hr style="color: #bdbdbd; margin: 1em;"/>

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Articles" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

<!--    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>-->
  {%- endif -%}

</div>
